<a class="small-popover modifiers-popover {{#unless modifiers}}hidden{{/unless}} modifiers" data-toggle="popover" data-trigger="focus" data-content="
  <ul>
    {{#each modifiers}}
    {{#unless void}}
    <li>{{value_str}}</li>
    {{/unless}}
    {{/each}}
</ul>" data-html="true" data-container="body" href="#" tabindex="0">Modifiers</a>
